.dechiffreur {
    min-height: rem-calc(58);
}

.dechiffreur:first-child {
    border-bottom: 1px solid $couleur-bordure;
}

.dechiffreur__numero {
    display: inline-block;
    padding: rem-calc(2) rem-calc(7);
    border-right: 1px dashed $couleur-bordure;
    border-bottom: 1px dashed $couleur-bordure;
    //box-shadow: 0 1px 0 0 $couleur-bordure;
}