$dropdown-marge: 3px;
$dropdown-bordure: 1px;




.gap--crant {
    gap: $gap;
}
.gap--crant li {
    margin: $dropdown-marge + $dropdown-bordure;
}



.dropdown {
    position: relative;
    border-bottom-left-radius: $taille-crant;
    border-bottom-right-radius: $taille-crant;
    border: 1px solid transparent;
    border-width: $dropdown-bordure $dropdown-bordure 0;
    border-color: transparent;
    border-style: solid;
    padding: $dropdown-marge;
    background-color: $couleur-fond;
}

.dropdown.--ouvert {
    border-color: $couleur-bordure;
}



// RAF faire un function pour gere le svg et sa couleur, choisir un couleru qui se démarque bein de son fond
.dropdown__label {
    position: relative;
    padding: $dropdown-marge;

    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%232c1b2e' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 12px;
}

.dropdown__label:not([class*="code"]) {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23d1b48c' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
}

[data-mode=light] .dropdown__label {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23fff4e0' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
}

[data-mode=light] .dropdown__label:not([class*="code"]) {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%2357253b' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
}




.dropdown ul {
    position: absolute;
    bottom: 100%;
    left: -$dropdown-bordure;
    padding:  $dropdown-marge $dropdown-marge ($dropdown-marge + 8px);  
    border-top-left-radius: $taille-crant;
    border-top-right-radius: $taille-crant;
    border-width: $dropdown-bordure $dropdown-bordure 0;
    border-color: $couleur-bordure;
    border-style: solid;
    background-color: $couleur-fond;
}

.dropdown li + li {
    margin-top: $dropdown-marge;
}

