.conteneur-fiche {
    background-color: $couleur-bordure;
    border-radius: $interation-border-radius;
}


.fiche {
    width: rem-calc(16);
    height: rem-calc(16);
    border-radius: 50%;
    border: 1px dashed $couleur-fiche-n;
}

.fiche.--b {
    background-color: $couleur-fiche-b;
    border-color: $couleur-fiche-n;
    border-style: solid;
}

.fiche.--n {
    background-color: $couleur-fiche-n;
    border-color: $couleur-fiche-n;
}