.hide {
    display: none;
}

.d-flex {
    display: flex;
}

.d-iflex {
    display: inline-flex;
}

.reverse {
    flex-direction: column-reverse;
}

.warp {
    flex-wrap: wrap;
}

.grow {
    flex-grow: 1;
}

.ai-c {
    align-items: center;
}

.gap {
    gap: $gap;
}