.hide {
    display: none;
}

.flex {
    display: flex;
}

.iflex {
    display: inline-flex;
}

.reverse {
    flex-direction: column-reverse;
}

.wrap {
    flex-wrap: wrap;
}

.grow {
    flex-grow: 1;
}

.ai-c {
    align-items: center;
}

.jc-fe {
    justify-content: flex-end;
}

.gap {
    gap: $gap;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
  }