.bt {
    border-top: 1px solid $couleur-bordure;
}
.br {
    border-right: 1px solid $couleur-bordure;
}
.bb:not(.hide) {
    border-bottom: 1px solid $couleur-bordure;
}
.bx {
    border-right: 1px solid $couleur-bordure;
    border-left: 1px solid $couleur-bordure;
}